extends: default

ignore: |
  .git/**
  target/**
  node_modules/**

rules:
  document-start: disable
  truthy: disable

  indentation:
    spaces: 2
    indent-sequences: true

  line-length:
    max: 120
    level: warning
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
