# https://docs.cocogitto.io/

ignore_merge_commits = true
branch_whitelist = ["main"]

pre_bump_hooks = [
  "cargo set-version {{version}}",
  "cargo check --release",
  "git add :/Cargo.lock",
]

[git_hooks.commit-msg]
script = """#!/bin/sh
set -e
cog verify --file "$1"
"""

[git_hooks.pre-commit]
script = """#!/bin/sh
set -e
cargo fmt --all --check
cargo clippy -- -D warnings
"""

[git_hooks.pre-push]
script = """#!/bin/sh
set -e
cargo test
"""

[changelog]
path = "CHANGELOG.md"
template = "remote"
remote = "github.com"
repository = "madskills"
owner = "madskilling"
authors = [{ signature = "Clay Loveless", username = "claylo" }]

[commit_types]
chore = { changelog_title = "", omit_from_changelog = true }
ci = { changelog_title = "", omit_from_changelog = true }

[packages]
madskills = { path = "crates/madskills" }
madskills-core = { path = "crates/madskills-core" }
